@font-face {
  font-family: ebFont;
  src: url(../fonts/earthbound/earthbound.ttf);
}

body {
	font-family: ebFont;
	color: white;
	font-size: 1.25vw;
	background-color: black;
	background-image: url("../img/tiledBattleBg3.gif");
	background-size: 100%;
	background-repeat: repeat;
}

ul {
  list-style-type: none;
}

li{
	padding: 5%;
}


.battleBox {
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 33% 33% 33%;
	max-width: 19vw;
	margin: 2%;
	/* Box from: https://codepen.io/whoisryosuke/pen/QVvZmj ``Earthbound UI`` by Ryosuke */
	border-collapse: separate;
	border-spacing: 10vw 0px;
	background-color: #280828;
	color:#e7e6b3;
	padding: 0.5% 0.5%;
	border-radius:1%;
	box-shadow:
    0 0 0 0.09vw #383050, /* dark grey */
    0 0 0 0.50vw #68d0b8, /* minty blue */
	0 0 0 0.70vw #f7e8a8, /* white */
	0 0 0 1.00vw #3d3c55; /* black */
	/*-----------*/
}

.statsBox {
	display: grid;
	min-width: 10vw;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto auto auto;
	border-collapse: separate;
	border-spacing: 1vw 0px;
	margin: 5%;
	
	/*https://stackoverflow.com/questions/9383163/how-do-i-position-a-div-at-the-bottom-center-of-the-screen*/
	position: fixed;
	left: 45%;
	bottom: 5vh;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	/*-----------*/
	
	/* Checkers from: https://destroytoday.com/blog/checkered-pattern-for-loading-images-revisited by Destroy Today */
	--checkerSize: 0.7vw;
	--checkerColor: MediumTurquoise;
	--checkerAltColor: SteelBlue;

	background-image:
		linear-gradient(45deg, var(--checkerColor, magenta) 25%, transparent 25%), 
		linear-gradient(135deg, var(--checkerColor, orange) 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, var(--checkerColor, dodgerblue) 75%),
		linear-gradient(135deg, transparent 75%, var(--checkerColor, darkorchid) 75%);
	background-color: var(--checkerAltColor);
	
	background-size: 
		calc(2 * var(--checkerSize)) 
		calc(2 * var(--checkerSize));
	
	background-position: 
		0 0, 
		var(--checkerSize) 0, 
		var(--checkerSize) calc(-1 * var(--checkerSize)), 
		0px var(--checkerSize);

	/*-----------*/
	
	/* Border from: https://codepen.io/whoisryosuke/pen/QVvZmj ``Earthbound UI`` by Ryosuke */
	padding:5px 3px;
	border-radius:1px;
	transform:translateY(0);
	transition: transform linear 150ms;
	box-shadow:
    0 0 0 0.09vw CadetBlue,
    0 0 0 0.50vw White,
	0 0 0 0.70vw CadetBlue, 
	0 0 0 1.00vw #3d3c55; 
	
	/*-----------*/
}

.HPAndPP {
	color: MediumTurquoise;
	-webkit-text-stroke: 1px White;
}

#pNameBattleBox{
	color: red;
	background-color: yellow;
}

